<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriaController</servlet-name>
        <servlet-class>com.controller.CategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidaddeMedidaController</servlet-name>
        <servlet-class>com.controller.UnidaddeMedidaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresentacionController</servlet-name>
        <servlet-class>com.controller.PresentacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaPrimaController</servlet-name>
        <servlet-class>com.controller.MateriaPrimaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TecnicadeFabricacionController</servlet-name>
        <servlet-class>com.controller.TecnicadeFabricacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>com.controller.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecetaDetalleController</servlet-name>
        <servlet-class>com.controller.RecetaDetalleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtapadeFabricacionController</servlet-name>
        <servlet-class>com.controller.EtapadeFabricacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtapaDetalleController</servlet-name>
        <servlet-class>com.controller.EtapaDetalleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaController</servlet-name>
        <url-pattern>/CategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidaddeMedidaController</servlet-name>
        <url-pattern>/UnidaddeMedidaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresentacionController</servlet-name>
        <url-pattern>/PresentacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaPrimaController</servlet-name>
        <url-pattern>/MateriaPrimaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TecnicadeFabricacionController</servlet-name>
        <url-pattern>/TecnicadeFabricacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecetaDetalleController</servlet-name>
        <url-pattern>/RecetaDetalleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtapadeFabricacionController</servlet-name>
        <url-pattern>/EtapadeFabricacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtapaDetalleController</servlet-name>
        <url-pattern>/EtapaDetalleController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
